.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.check-answers-play-again-btn {
	margin-top: 2.5rem;
	padding: 1.5rem 7rem;
	font-size: 2rem;
	font-family: 'Karla';
	border: transparent;
	border-radius: 15px;
	background-color: #4d5b9e;
	color: #f5f7fb;
	cursor: pointer;
}

.check-answers-play-again-btn:hover {
	background-color: #373f6e;
	color: #f5f7fb;
}

.answers-warning, .answers-info {
	margin-top: 2rem;
	font-size: 2rem;
}

.answers-warning {
	color: rgb(255, 8, 0);
}

.answers-info {
	font-weight: 600;
	color: #293264;
}
