* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font-family: 'Karla';
	font-size: 1.6rem;
	color: #293264;
	background-image: url('./images/intro-theme.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
